<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Email | Smart Safe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<section class="simple-page">
    <div class="simple-card">

        <h1>Change Email</h1>

        <p>Do you want to change the registered email?</p>

        <br>

        <a href="/update_email" class="choice-btn yes-btn">
            Yes, Change Email
        </a>

        <br><br>

        <a href="/start_update_owner" class="choice-btn no-btn">
            No, Keep Current Email
        </a>

    </div>
</section>

</body>
</html>